<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                <!-- MAIN IMAGE -->
                <img src="{{ asset('frontoffice/assets/img/slider1.jpg')}}" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start" data-x="center" data-hoffset="0" data-y="100" data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn" data-endspeed="300">
                    Les Nouveaux
                    <br>
                    <strong>Immeubles</strong><br>
                   c'est ici
                </div>

                <!-- LAYER -->
                <div class="tp-caption sft" data-x="center" data-hoffset="0" data-y="380" data-speed="1600" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Louer</a>
                </div>
            </li>
            <!-- END SLIDE -->

            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <!-- MAIN IMAGE -->
                <img src="{{ asset('frontoffice/assets/img/slider2.jpg') }}" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch3 sft start" data-x="center" data-hoffset="0" data-y="140" data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn" data-endspeed="300">
                    Trouvez 
                    <strong>un </strong>
                    Professionnel ici
                </div>

                <!-- LAYER -->
                

                <!-- LAYER -->
                <div class="tp-caption sft" data-x="center" data-hoffset="0" data-y="300" data-speed="1600" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Acheter</a>
                </div>
            </li>
            <!-- END SLIDE -->

            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                <!-- MAIN IMAGE -->
                <img src="{{ asset('frontoffice/assets/img/slider3.jpg') }}" alt="darkblurbg" data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">


                <div class="tp-caption revolution-ch3 sft start" data-x="right" data-hoffset="5" data-y="130" data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn" data-endspeed="300">
                    <strong>Acheter</strong>
                    Dans le neuf 
                </div>

                <!-- LAYER -->
                

                <!-- LAYER -->
                <div class="tp-caption sft" data-x="right" data-hoffset="0" data-y="300" data-speed="1600" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Rechercher un appartement</a>
                </div>
            </li>
            <!-- END SLIDE -->

           

        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->