{% extends '/backoffice/layout/base.html.twig' %}

{% block body %}
<div class="wrapper ">
    <!-- sidebar -->
    {% include 'backoffice/layout/sidebar.html.twig' %}
    <!-- sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        {% include 'backoffice/layout/navbar.html.twig' %}
        <!-- End Navbar -->
        <!-- content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{ include('etats/_form.html.twig', {'title': 'Modification d\'un état '}) }}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a class="btn" href="{{ path('etats_index') }}">Liste des états</a>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="btn">Delete</a>
                        {{ include('etats/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
            <!-- content -->
            <!-- footer -->
            {% include 'backoffice/layout/footer.html.twig' %}
            <!-- footer -->
        </div>
    </div>
    {% endblock %}
