 <!-- footer -->
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="{{ path('etats_index') }}">
                  Etat des biens
                </a>
              </li>
              <li>
                <a href="{{ path('tranches_index') }}">
                  Tranche
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, By Auriane ZOUNNON
          </div>
        </div>
      </footer>
      <!-- footer -->