{% extends '/backoffice/layout/base.html.twig' %}

{% block body %}
    <div class="wrapper ">
    <!-- sidebar -->
    {% include 'backoffice/layout/sidebar.html.twig' %}
    <!-- sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        {% include 'backoffice/layout/navbar.html.twig' %}
        <!-- End Navbar -->
        <!-- content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{ include('users/_form.html.twig', {'title': 'Création d\'un utilisateur '}) }}
                </div>
            </div>
            <!-- content -->
            <!-- footer -->
            {% include 'backoffice/layout/footer.html.twig' %}
            <!-- footer -->
        </div>
    </div>
{% endblock %}